.board {
  text-align: center;

  .current-player {
    margin-bottom: 30px;
    font-family: Verdana;
  }

  .winner {
    margin-top: 30px;
    font-family: Verdana;
  }

  .reset {
    margin-top: 30px;
  }

  .board-row {
    background-color: #000;

    &:after {
      clear: both;
      content: "";
      display: table;
    }
  }
}